
@keyframes colorRotate {
    from {
      color: #6666ff;
    }
    10% {
      color: #0099ff;
    }
    50% {
      color: #00ff00;
    }
    75% {
      color: #ff3399;
    }
    100% {
      color: #6666ff;
    }
  }
    
  .slide-in-bck-center {
      -webkit-animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
              animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      width: 50%;
      margin-top: 2%;
  }
  
  .verse-5-first {
      -webkit-animation: verse-5-first 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 3s both;
              animation: verse-5-first 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 3s both;
              display: flex;
              justify-content: center;
              align-items: center;
              margin: auto;
              width: 50%;
              margin-top: 8%;
  }
    
  
  
   @-webkit-keyframes verse-5-first {
      0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
                transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
                filter: blur(40px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
                transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        -webkit-filter: blur(0);
                filter: blur(0);
        opacity: 1;
      }
    }
    @keyframes verse-5-first {
      0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
                transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
                filter: blur(40px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
                transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        -webkit-filter: blur(0);
                filter: blur(0);
        opacity: 1;
      }
    }
  
    
    .verse-5-second {
      -webkit-animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 5s both;
              animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 5s both;
              display: flex;
              justify-content: center;
              align-items: center;
              margin: auto;
              width: 50%;
              margin-top: 2%;
  }
  
  /* ----------------------------------------------
   * Generated by Animista on 2021-4-8 13:17:58
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
  
  /**
   * ----------------------------------------
   * animation fade-in
   * ----------------------------------------
   */
   @-webkit-keyframes verse-5-second {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes verse-5-second {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    
    .verse-5-third {
      -webkit-animation: verse-5-third 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) 8s both;
              animation: verse-5-third 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) 8s both;
              display: flex;
              justify-content: center;
              align-items: center;
              margin: auto;
              width: 50%;
              margin-top: 2%;
  }
  
  /* ----------------------------------------------
   * Generated by Animista on 2021-4-8 14:31:31
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
  
  /**
   * ----------------------------------------
   * animation roll-in-blurred-left
   * ----------------------------------------
   */
   @-webkit-keyframes verse-5-third {
      0% {
        -webkit-transform: translateX(-1000px) rotate(-720deg);
                transform: translateX(-1000px) rotate(-720deg);
        -webkit-filter: blur(50px);
                filter: blur(50px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateX(0) rotate(0deg);
                transform: translateX(0) rotate(0deg);
        -webkit-filter: blur(0);
                filter: blur(0);
        opacity: 1;
      }
    }
    @keyframes verse-5-third {
      0% {
        -webkit-transform: translateX(-1000px) rotate(-720deg);
                transform: translateX(-1000px) rotate(-720deg);
        -webkit-filter: blur(50px);
                filter: blur(50px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateX(0) rotate(0deg);
                transform: translateX(0) rotate(0deg);
        -webkit-filter: blur(0);
                filter: blur(0);
        opacity: 1;
      }
    }
    
  
  
    .verse-5-fourth {
      -webkit-animation: verse-5-fourth 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 11s both;
              animation: verse-5-fourth 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 11s both;
              display: flex;
              justify-content: center;
              align-items: center;
              margin: auto;
              width: 50%;
              margin-top: 2%;
  }
  
  
  /* ----------------------------------------------
   * Generated by Animista on 2021-4-8 14:55:52
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
  
  /**
   * ----------------------------------------
   * animation slide-in-blurred-br
   * ----------------------------------------
   */
   @-webkit-keyframes verse-5-fourth {
      0% {
        -webkit-transform: translate(1000px, 1000px) skew(80deg, 10deg);
                transform: translate(1000px, 1000px) skew(80deg, 10deg);
        -webkit-transform-origin: 0% 100%;
                transform-origin: 0% 100%;
        -webkit-filter: blur(40px);
                filter: blur(40px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translate(0, 0) skew(0deg, 0deg);
                transform: translate(0, 0) skew(0deg, 0deg);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        -webkit-filter: blur(0);
                filter: blur(0);
        opacity: 1;
      }
    }
    @keyframes verse-5-fourth {
      0% {
        -webkit-transform: translate(1000px, 1000px) skew(80deg, 10deg);
                transform: translate(1000px, 1000px) skew(80deg, 10deg);
        -webkit-transform-origin: 0% 100%;
                transform-origin: 0% 100%;
        -webkit-filter: blur(40px);
                filter: blur(40px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translate(0, 0) skew(0deg, 0deg);
                transform: translate(0, 0) skew(0deg, 0deg);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        -webkit-filter: blur(0);
                filter: blur(0);
        opacity: 1;
      }
    }
    
    .fade-in-love {
      -webkit-animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 13s both;
              animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 13s both;
              display: flex;
              justify-content: center;
              align-items: center;
              margin: auto;
              width: 50%;
  
  }
  
  
  /* ----------------------------------------------
   * Generated by Animista on 2021-4-8 15:34:29
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
  
  /**
   * ----------------------------------------
   * animation fade-in
   * ----------------------------------------
   */
   @-webkit-keyframes fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  