// Font families and font sizes
// Verse1 fonts
$font-weights: (
    "thin": 400,
    "medium": 500,
    "bold": 700
);

.verse1_line1 {
    font-weight: map-get($font-weights, thin);
}   
.verse1_line2 {
    font-weight: map-get($font-weights, medium);
    font-family: fantasy, Georgia, sans-serif;
    opacity: 0;
}
.verse1_svg {
    opacity: 0;
    text-decoration: underline;
    font-weight: map-get($font-weights, medium);
}
.verse1_line4 {
    opacity: 0;
    font-weight: map-get($font-weights, bold);
}

//Verse 2
// Font faces
$standard-font: Arial, Helvetica, sans-serif;
$summer-font: Summer, Arial, Helvetica, sans-serif;
$autumn-font: Autumn, Arial, Helvetica, sans-serif;
$winter-font: Winter, Arial, Helvetica, sans-serif;

//Font sizes
//Desktop
$d-standard-font-size: 2rem;
$d-custom-font-size: 3rem;
$d-custom-font-size-2: 2.5rem;

//Mobile
$m-standard-font-size: 1.5rem;
$m-custom-font-size: 2.7rem;
$m-custom-font-size-2: 2rem;

@font-face {
    font-family: Summer;
    src: url(../fonts/beach.otf);
    font-display: swap;
}
  
@font-face {
    font-family: Autumn;
    src: url(../fonts/autumn.ttf);
    font-display: swap;
}
  
@font-face {
    font-family: Winter;
    src: url(../fonts/akaya.ttf);
    font-display: swap;
}

//Verse 3
//Desktop
$d-small-size: 1.5rem;
$d-standard-size: 2rem;
$d-large-size: 2.5rem;

//Mobile
$m-small-size: 0.8rem;
$m-standard-size: 1.3rem;
$m-large-size: 1.7rem;

@font-face {
    font-family: Satisfy;
    src: url(../fonts/Satisfy-Regular.ttf);
}

@font-face {
    font-family: Kalam;
    src: url(../fonts/Kalam-Regular.ttf);
}

@font-face {
    font-family: Akaya;
    src: url(../fonts/AkayaKanadaka-Regular.ttf);
}  
//--------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');