/* If screen width is 600px or smaller - Mobile */
@media (max-width: 600px) {
    html {
        background-image: url(../images/mitchell-background-mobile.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .grid-container {
        height: calc(var(--vh, 1vh) * 100);
        grid-template-columns: 1fr;
        grid-template-rows: auto 1.8fr;
        grid-template-areas:
        "header"
        "main";
        overflow: hidden;
    }

    .flex-container {
        height: 100%;
    }

    .header__headline {
        margin-top: 1rem;
        margin-bottom: 1rem;

        &__title {
            font-size: 1.5rem;
        }

        &__subtitle {
            font-size: 1rem;
        }
    }

    nav { 
        grid-area: main;
        align-self: start;
        z-index: 100;
        background-color: rgba(72, 76, 163, 0.95);
        display: none;
        }

    .menu__menuItem--hidden {
        display: none;
        }

    .header__menu-icon {
        display: inline-block;
        position: absolute;
        left: 30px;
        cursor: pointer;

        &--bar1, &--bar2, &--bar3 {
            width: 35px;
            height: 5px;
            background-color: white;
            margin: 6px 0;
            transition: 0.4s;
              }
        }

        .change .header__menu-icon--bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
          }
          
        .change .header__menu-icon--bar2 {opacity: 0;}
          
        .change .header__menu-icon--bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
          }

    footer {
        display: none;
        }
        
    .box { 
        grid-area: header;
        background-color: rgba(72, 76, 163, 1);
    }
    
    .verse1_layout_box {
        width: 80%;
        margin-top: 20px;
    }
    .verse1_line1 {
        margin-left: 50px;
    }
    .verse1_line2 {
        margin-left: 50px;
    }
    .verse1_layout_box {
        width: 80%;
        margin-top: 20px;
    }
    .verse1_line1 {
        margin-left: 50px;
    }
    .verse1_line2 {
        margin-left: 50px;
    }

    .verse-2__grid-container--3 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
          ". line5 line5 . . ."
          ". . line6 line6 . ."
          ". . . . . ."
          ". line7 line7 line7 line7 .";
      }
    
      .verse-2__line-1--1 {
        font-size: $m-standard-font-size;
      }
    
      .verse-2__line-1--2 {
        font-size: $m-custom-font-size;
    
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    
        top: 0.2rem;
      }
    
      .verse-2__line-2--1 {
        font-size: $m-custom-font-size;
      }
    
      .verse-2__line-3--1 {
        font-size: $m-standard-font-size;
    
        padding-left: 0.2rem;
        padding-right: 0.2rem;
      }
    
      .verse-2__line-3--2 {
        font-size: $m-standard-font-size;
      }
    
      .verse-2__line-4--1 {
        font-size: $m-standard-font-size;
      }
    
      .verse-2__line-4--2 {
        font-size: $m-standard-font-size;
      }
    
      .verse-2__line-5--1 {
        font-size: $m-standard-font-size;
      }
    
      .verse-2__line-5--2 {
        font-size: $m-custom-font-size-2;
    
        padding-left: 0.2rem;
        padding-right: 0.2rem;
      }
    
      .verse-2__line-6--1 {
        font-size: $m-custom-font-size-2;
      }
    
      .verse-2__leaf-1--size {
        width: 4rem;
      }
    
      .verse-2__leaf-2--size {
        width: 3rem;
      }
}
