/* If screen width is 600px or smaller - Mobile */
@media (max-width: 600px) {
    html {
        background-image: url(../images/mitchell-background-mobile.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header__headline {
        &__title {
            margin-bottom: 0;
        }

        &__subtitle {
            display: none;
        }
    }

    .verse1_layout_box {
      grid-template-columns: 10% 25% 5% 5% 5% 15% 20% 10%;
      grid-template-rows: 10% 15% 5% 10% 5% 15% 5% 15%;
    }

    .verse1_line1 {
      grid-row: 2;
    }
    
    .verse1_line2 {
      grid-row: 3;
    }

    .verse1_smiley1 {
      grid-column: 3;
    }
    .verse1_svg {
      grid-row: 6;
      grid-column: 1 / span 8;
    }

    .verse1_line4 {
      grid-column: 2;
      grid-row: 8;
    }

    .verse-2__grid-container--3 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
          ". line5 line5 . . ."
          ". . line6 line6 . ."
          ". . . . . ."
          ". line7 line7 line7 line7 .";
      }
    
      .verse-2__line-1--1 {
        font-size: $m-standard-font-size;
      }
    
      .verse-2__line-1--2 {
        font-size: $m-custom-font-size;
    
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    
        top: 0.2rem;
      }
    
      .verse-2__line-2--1 {
        font-size: $m-custom-font-size;
      }
    
      .verse-2__line-3--1 {
        font-size: $m-standard-font-size;
    
        padding-left: 0.2rem;
        padding-right: 0.2rem;
      }
    
      .verse-2__line-3--2 {
        font-size: $m-standard-font-size;
      }
    
      .verse-2__line-4--1 {
        font-size: $m-standard-font-size;
      }
    
      .verse-2__line-4--2 {
        font-size: $m-standard-font-size;
      }
    
      .verse-2__line-5--1 {
        font-size: $m-standard-font-size;
      }
    
      .verse-2__line-5--2 {
        font-size: $m-custom-font-size-2;
    
        padding-left: 0.2rem;
        padding-right: 0.2rem;
      }
    
      .verse-2__line-6--1 {
        font-size: $m-custom-font-size-2;
      }
    
      .verse-2__leaf-1--size {
        width: 4rem;
      }
    
      .verse-2__leaf-2--size {
        width: 3rem;
      }
}
