//If screen width is 1100px or smaller - Tablet
@media (max-width: 1100px) {
    .grid-container {
        height: calc(var(--vh, 1vh) * 100);
        grid-template-columns: 1fr;
        grid-template-rows: auto 1.8fr;
        grid-template-areas:
        "header"
        "main";
        overflow: hidden;
    }

    .flex-container {
        height: 100%;
    }

    .header__headline {
        margin-top: 1rem;
        margin-bottom: 1rem;

        &__title {
            font-size: 1.5rem;
        }

        &__subtitle {
            font-size: 1rem;
        }
    }

    nav { 
        grid-area: main;
        align-self: start;
        z-index: 100;
        background-color: rgba(72, 76, 163, 0.95);
        display: none;
        }

    .menu__menuItem--hidden {
        display: none;
        }

    .header__menu-icon {
        display: inline-block;
        position: absolute;
        left: 30px;
        cursor: pointer;

        &--bar1, &--bar2, &--bar3 {
            width: 35px;
            height: 5px;
            background-color: white;
            margin: 6px 0;
            transition: 0.4s;
              }
        }

        .change .header__menu-icon--bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
          }
          
        .change .header__menu-icon--bar2 {opacity: 0;}
          
        .change .header__menu-icon--bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
          }

    footer {
        display: none;
        }
        
    .box { 
        grid-area: header;
        background-color: rgba(72, 76, 163, 1);
    }
}

//If screen width is 900px or smaller - Tablet/mobile
@media (max-width: 900px) {
    .verse-3__grid-container {
        font-size: $m-standard-size;
    }
  
    div.verse-3__grid-item-one {
        span.grid-item-one_content {
            font-size: $m-large-size;
        }
    }
  
    div.verse-3__grid-item-two {
        span.grid-item-two_content-text {
            font-size: $m-large-size;
        }
    }
  
    div.verse-3__grid-item_three_text {
        span.grid-item-three_text-content {
            font-size: $m-large-size;
        }
    }
  }