body {
    background-image: url(../images/mitchell-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: Helvetica, Arial, sans-serif;
}

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "header main"
      "nav main"
      "footer main";
}

.flex-container {
    height: 100vh;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

header {
    grid-area: header;
    align-self: center;

    color: white;

    display: flex;
	justify-content: center;
	align-items: center;
  }

.header__headline {
    display: flex;
	flex-direction: column;

    width: fit-content;
    
    &__title {
        font-size: 2rem;

        margin-top: 0;
        margin-bottom: 0.5rem;
    }

    &__subtitle {
        align-self: flex-end;
    }
}

nav { 
    grid-area: nav;
    align-self: center;
    }

.menu {
    margin: 0;
    padding: 0;
    width: 100%;

    list-style-type: none;

    color: white;

    font-size: larger;

    &__menuItem a {
        display: block;
        padding: 20px 25px;

        &:hover {
            opacity: 50%;
        }
    }

    &__menuItem--active {
        font-weight: bold;

        background-color: #6367CB;
    }

    &__menuItem--hidden {
        display: none;
    }
}

main { 
    grid-area: main;
  }

footer {
    grid-area: footer;
    align-self: end;
    padding: 20px;
}

.box { 
    grid-area: 1 / 1 / 4 / 2; 

    background-color: rgba(72, 76, 163, 0.85);

    z-index: -100;
}

/* These must be specified more and changed... */
/* unvisited link */
a:link {
  color: white;

  text-decoration: none;

  opacity: 100%;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
    color: white;

    opacity: 100%;
}

/* selected link */
a:active {
  color: white;
}
.verse1_layout_box {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr 1fr;
    opacity: 0.88;
    font-size: 1em;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: $alternate-color;
    z-index: 1;
            }
.verse1_line1 {
margin-top: 60px;
margin-left:70px;
padding-bottom: 30px; 
}
.verse1_line2{
    position:relative;
    left: 10px;
}
.verse1_smiley1 .verse1_smiley2 {
    border: 4px solid black;
}
.verse1_svg {
    position: relative;
      bottom: 30px;
}
.verse1_line4 {
position: relative;
bottom: 40px;
width: 200px;
height: 50px;
padding: 15px 0px 0px 10px;
background: #000000;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
color: $alternate-color
}


.verse1_line4:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 15px 40px;
border-color: #000000 transparent;
display: block;
width: 0;
z-index: 1;
top: -40px;
left: 96px;
}