html {
    background-image: url(../images/mitchell-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: Helvetica, Arial, sans-serif;

    overflow: hidden;
}

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "header main"
      "nav main"
      "footer main";
}

.flex-container {
    height: 100vh;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

header {
    grid-area: header;
    align-self: center;

    color: $color-white;

    display: flex;
	justify-content: center;
	align-items: center;
  }

.header__headline {
    display: flex;
	flex-direction: column;

    width: fit-content;
    
    &__title {
        font-size: 2rem;

        margin-top: 0;
        margin-bottom: 0.5rem;
    }

    &__subtitle {
        align-self: flex-end;
    }
}

nav { 
    grid-area: nav;
    align-self: center;
    }

.menu {
    margin: 0;
    padding: 0;
    width: 100%;

    list-style-type: none;

    color: $color-white;

    font-size: larger;

    &__menuItem a {
        display: block;
        padding: 20px 25px;

        &:hover {
            opacity: 50%;
        }
    }

    &__menuItem--active {
        font-weight: bold;

        background-color: $color-active-page;
    }

    &__menuItem--hidden {
        display: none;
    }
}

main { 
    grid-area: main;
  }

footer {
    grid-area: footer;
    align-self: end;
    padding: 20px;
}

.box { 
    grid-area: 1 / 1 / 4 / 2; 

    background-color: $color-box;

    z-index: -100;
}

/* These must be specified more and changed... */
/* unvisited link */
a:link {
  color: $color-white;;

  text-decoration: none;

  opacity: 100%;
}

/* visited link */
a:visited {
  color: $color-white;;
}

/* mouse over link */
a:hover {
    color: $color-white;;

    opacity: 100%;
}

/* selected link */
a:active {
  color: $color-white;;
}
.verse1_layout_box {
    display: inline-grid;
    grid-template-columns: 10% 20% 5% 5% 5% 5% 10% 25% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10%;
    opacity: 0.8;
    font-size: 1em;
    width: 80%;
    height: 100vh;
    z-index: 1;
    
            }

.verse1_line1 {
  font-family: $standard-font;
  grid-column: 5 / span 3;
  grid-row: 3;
  font-weight: map-get($font-weights, thin);
  animation-name: line1;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  margin: 0px;
  padding: 0px;
  }
 
.verse1_line2 {
  grid-column: 5 / span 3;
  grid-row: 4;
  opacity: 0;
  font-weight: map-get($font-weights, medium);
  font-family: fantasy, Georgia, sans-serif;
  animation-name: line2;
  animation-delay: 6s;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  margin: 0px;
  padding: 0px;
  }

.verse1_smiley1 {
  grid-column: 5;
  grid-row: 5;
  opacity: 0;
  animation-name: smiley1;
  animation-duration: 1.5s;
  animation-delay: 10s;
  animation-fill-mode: forwards;
  }

.verse1_smiley2{
  grid-column: 7;
  grid-row: 5;
  opacity: 0;
  animation-name: smiley2;
  animation-duration: 1.5s;
  animation-delay: 10s;
  animation-fill-mode: forwards;
  }

.verse1_svg {
  grid-column: 2 / span 7;
  grid-row: 5;
  opacity: 0;
  text-decoration: underline;
  font-weight: map-get($font-weights, medium);
  animation-name: line3;
  animation-duration: 2s;
  animation-delay: 11s;
  animation-fill-mode: forwards;
  }
 
.verse1_line4 {
  opacity: 0;
  grid-column: 5;
  grid-row: 8;
  font-weight: map-get($font-weights, bold);
  position: relative;
  bottom: 10px;
  width: 200px;
  height: 50px;
  padding: 15px 0px 0px 10px;
  background: $primary-color;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: $alternate-color;
  animation-name: line4;
  animation-duration: 2s;
  animation-delay: 14s;
  animation-fill-mode: forwards;
    }

.verse1_line4:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 15px 40px;
  border-color: $primary-color transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -40px;
  left: 96px;
    }
 
.verse1_span_colour {
    animation-name: span_colour;
    animation-duration: 10s;
    animation-delay: 14s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-direction: alternate;
  }

.verse-2__grid-container {
    width: -moz-fit-content;
    width: fit-content;
    height: fit-content;
  
    transform: rotate(-10deg);
  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "line1 line1 ."
      ". line2 line2";
  
    -webkit-animation: tilt-in-fwd-tl 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: tilt-in-fwd-tl 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation-delay: 0.5s;
  }
  
  .verse-2__grid-container--2 {
    width: -moz-fit-content;
    width: fit-content;
    height: fit-content;
  
    transform: rotate(10deg);
  
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    grid-template-rows: auto 1fr 1fr auto;
    grid-template-areas:
      ". . . ."
      "leaf1 line3 . ."
      "leaf1 line4 line4 leaf2"
      ". . . .";
  
    -webkit-animation: tilt-in-fwd-tr 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: tilt-in-fwd-tr 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation-delay: 3.5s;
  }
  
  .verse-2__grid-container--3 {
    width: -moz-fit-content;
    width: fit-content;
    height: fit-content;
  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "line5 line5 . . ."
      ". line6 line6 . ."
      ". . . . ."
      "line7 line7 line7 line7 line7";
  
    -webkit-animation: slide-in-elliptic-top-fwd 3s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-elliptic-top-fwd 3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation-delay: 7s;
  }
  
  .verse-2__line-1 {
    width: -moz-fit-content;
    width: fit-content;
    height: fit-content;
  
    grid-area: line1;
  
    white-space: nowrap;
  }
  
  .verse-2__line-2 {
    margin-top: 0.2em;
  
    width: -moz-fit-content;
    width: fit-content;
    height: fit-content;
  
    grid-area: line2;
  
    justify-self: center;
  
    white-space: nowrap;
  }
  
  .verse-2__line-3 {
    width: -moz-fit-content;
    width: fit-content;
    height: fit-content;
  
    grid-area: line3;
    align-self: end;
  
    white-space: nowrap;
  }
  
  .verse-2__line-4 {
    margin-top: 0.5em;
  
    width: -moz-fit-content;
    width: fit-content;
    height: fit-content;
  
    grid-area: line4;
  
    justify-self: end;
  
    white-space: nowrap;
  }
  
  .verse-2__leaf-1 {
    grid-area: leaf1;
    align-self: center;
  
    -webkit-animation: tilt-in-top-1 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: tilt-in-top-1 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation-delay: 5s;
  }
  
  .verse-2__leaf-2 {
    grid-area: leaf2;
  
    padding-left: 1rem;
  
    -webkit-animation: tilt-in-top-1 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: tilt-in-top-1 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation-delay: 5s;
  }
  
  .verse-2__line-5 {
    width: -moz-fit-content;
    width: fit-content;
    height: fit-content;
  
    grid-area: line5;
  
    white-space: nowrap;
  
    transform: rotate(-10deg);
  }
  
  .verse-2__line-6 {
    width: -moz-fit-content;
    width: fit-content;
    height: fit-content;
  
    grid-area: line6;
  
    white-space: nowrap;
  
    transform: rotate(-10deg);
  }
  
  .verse-2__line-7 {
    width: -moz-fit-content;
    width: fit-content;
    height: fit-content;
  
    grid-area: line7;
  
    white-space: nowrap;
  
    justify-self: center;
  }
  
  .verse-2__line-1--1 {
    font-family: $standard-font;
    font-size: $d-standard-font-size;
  
    color: $summer-color-1;
  }
  
  .verse-2__line-1--2 {
    font-family: $summer-font;
    font-size: $d-custom-font-size;
  
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  
    position: relative;
    top: 0.2rem;
  
    color: $summer-color-2;
  }
  
  .verse-2__line-2--1 {
    font-family: $summer-font;
    font-size: $d-custom-font-size;
  
    color: $summer-color-1;
  
    border: 4px dotted $summer-color-2;
    border-radius: 60% 5%;
  
    padding: 0 2rem 0 2rem;
  
    -webkit-animation: tracking-in-expand 1.8s cubic-bezier(0.215, 0.61, 0.355, 1)
      both;
    animation: tracking-in-expand 1.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation-delay: 2s;
  }
  
  .verse-2__line-3--1 {
    font-family: $standard-font;
    font-size: $d-standard-font-size;
  
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  
    color: $autumn-color-1;
  }
  
  .verse-2__line-3--2 {
    font-family: $autumn-font;
    font-size: 2rem;
    letter-spacing: 0.1rem;
  
    color: $autumn-color-1;
  }
  
  .verse-2__line-4--1 {
    font-family: $autumn-font;
    font-size: 2rem;
    letter-spacing: 0.1rem;
  
    color: $autumn-color-1;
  
    -webkit-animation: fade-in-1 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in-1 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation-delay: 5s;
  }
  
  .verse-2__line-4--2 {
    font-family: $autumn-font;
    font-size: $d-standard-font-size;
    letter-spacing: 0.1rem;
  
    color: $autumn-color-1;
  
    -webkit-animation: fade-in-2 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in-2 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation-delay: 5s;
  }
  
  .verse-2__line-5--1 {
    font-family: $standard-font;
    font-size: $d-standard-font-size;
  
    color: $winter-color-1;
  }
  
  .verse-2__line-5--2 {
    font-family: $winter-font;
    font-size: $d-custom-font-size-2;
  
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  
    color: $winter-color-2;
  }
  
  .verse-2__line-6--1 {
    font-family: $winter-font;
    font-size: $d-custom-font-size-2;
    text-shadow: 3px 3px 4px $winter-color-3;
  
    border-bottom: 10px solid $winter-color-3;
  
    padding: 0 1rem 0 1rem;
  
    color: $winter-color-2;
  
    -webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1)
      both;
    animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation-delay: 8.5s;
  }
  
  .rainbow-verse5 {
    text-align: center;
    font-size: 20px;
    animation: colorRotate 6s linear 0s infinite;
    margin: 0;
    padding: 1px;
  }
  
  .verse-3__grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        ". one one one ."
        ". . . text-box ."
        ". two two two ."
        ". three three . ."
        ". . text-divide text-divide ."
        "img-one four four four img-two"
        ". . . . btn";
    height: 100vh;
    font-size: $d-standard-size;
}

div.verse-3__grid-item-one {
    grid-area: one;
    justify-self: center;
    align-self: end;
    animation: tilt-in 1s ease forwards;

    span.grid-item-one_content {
        font-size: $d-large-size;
        color: darken($skyBlue, 10%);
        white-space: nowrap;
    }
}

div.verse-3__grid-item-one_text {
    grid-area: text-box;
    justify-self: start;
    align-self: center;
    animation: tilt-in 1s ease forwards;
    color: darken($skyBlue, 10%);
    font-family: Satisfy, cursive;
    opacity: 0;
    white-space: nowrap;
}

div.verse-3__grid-item-two {
    grid-area: two;
    justify-self: center;
    animation: slide-in-br 1s ease 4s forwards;
    opacity: 0;
    overflow: hidden;

    span.grid-item-two_content {
        color: darken($silver, 20%);
        white-space: nowrap;

    }

    span.grid-item-two_content-text {
        font-family: Satisfy, cursive;
        font-size: $d-large-size;
        white-space: nowrap;
    }
}

div.verse-3__grid-item-three {
    grid-area: three;
    justify-self: right;
    align-self: flex-end;
    animation: rotate-fadeIn 0.8s ease 7s forwards;
    opacity: 0;

    span.grid-item-three_content {
        color: $appleGreen;
        white-space: nowrap;
    }
}

div.verse-3__grid-item_three_text {
    grid-area: text-divide;
    justify-self: center;
    align-self: center;
    animation: rotate-fadeIn 0.8s 7s forwards;
    opacity: 0;
    white-space: nowrap;

    span.grid-item-three_text-content {
        font-family: Akaya, cursive;
        font-size: $d-large-size;
        color: $red;
        white-space: nowrap;
    }

    div.line {
        height: 5px;
        width: 100%;
        background-color: $red;
    }
}

div.verse-3__grid-item-img_1 {
    grid-area: img-one;
    width: 100px;
    justify-self: end;
    align-self: center;
    animation: slide-in-bottom 1s 10s forwards, shake-vertical 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) 11s infinite;
    opacity: 0;
    overflow: hidden;
}

div.verse-3__grid-item-four {
    grid-area: four;
    justify-self: center;
    align-self: center;
    animation: slide-in-bottom 1s 10s forwards;
    opacity: 0;
    overflow: hidden;

    span.grid-item-four_content {
        white-space: nowrap;
        span.grid-item-four_content-text {
            font-family: Kalam, cursive;
        }
    }

}

div.verse-3__grid-item-img_2 {
    grid-area: img-two;
    width: 100px;
    justify-self: start;
    align-self: center;
    animation: slide-in-bottom 1s 10s forwards, shake-vertical 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) 11.3s infinite;
    opacity: 0;
    overflow: hidden;
}

div.verse-3__grid-item_button {
    grid-area: btn;
    justify-self: center;
    align-self: center;
    animation: fadeIn 0.6s ease 13s forwards;
    opacity: 0;
}

  .verse-5-first {
   white-space: nowrap;
   padding: 20px;
  }
  
  .verse-5-second {
   white-space: nowrap;
   padding: 20px;
  }
  
  .verse-5-third {
    white-space: nowrap;
    padding: 20px;
  }
  
  .verse-5-fourth {
    white-space: nowrap;
    padding: 20px;
  }
  
  
  .div1-verse5 {
    width: fit-content;
    height: fit-content;
    font-family: 'Roboto', sans-serif;
  }
  
  .text-verse5 {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;  
  }
  
  .rainbow-verse5
  {
    padding-left: 4px;
  }
  .love-verse5 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    margin-bottom: 10%;  
  }

  .about-box {
    max-width: 40rem;

    border-radius: 2rem;

    background-color: $color-white;
  }

  .card {
    padding: 2rem;

    &__bold {
      font-weight: bold;
    }

    &__title {
      margin-top: 0;
    }

    &__logo {
      display: block;

      width: 10rem;

      margin-top: 2rem;
      margin-bottom: 1rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .card > p, .card__inside__content > p {
    line-height: 1.5rem;
  }

  .card__inside {
    background-color: $color-card-inside;

    border-radius: 2rem;

    &__content {
      padding: 1rem;
    }

    &__content > p {
      text-align: center;
    }
  }