html {
    background-image: url(../images/mitchell-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: Helvetica, Arial, sans-serif;
}

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "header main"
      "nav main"
      "footer main";
}

.flex-container {
    height: 100vh;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

header {
    grid-area: header;
    align-self: center;

    color: white;

    display: flex;
	justify-content: center;
	align-items: center;
  }

.header__headline {
    display: flex;
	flex-direction: column;

    width: fit-content;
    
    &__title {
        font-size: 2rem;

        margin-top: 0;
        margin-bottom: 0.5rem;
    }

    &__subtitle {
        align-self: flex-end;
    }
}

nav { 
    grid-area: nav;
    align-self: center;
    }

.menu {
    margin: 0;
    padding: 0;
    width: 100%;

    list-style-type: none;

    color: white;

    font-size: larger;

    &__menuItem a {
        display: block;
        padding: 20px 25px;

        &:hover {
            opacity: 50%;
        }
    }

    &__menuItem--active {
        font-weight: bold;

        background-color: #6367CB;
    }

    &__menuItem--hidden {
        display: none;
    }
}

main { 
    grid-area: main;
  }

footer {
    grid-area: footer;
    align-self: end;
    padding: 20px;
}

.box { 
    grid-area: 1 / 1 / 4 / 2; 

    background-color: rgba(72, 76, 163, 0.85);

    z-index: -100;
}

/* These must be specified more and changed... */
/* unvisited link */
a:link {
  color: white;

  text-decoration: none;

  opacity: 100%;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
    color: white;

    opacity: 100%;
}

/* selected link */
a:active {
  color: white;
}

