@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Summer;
  src: url(../fonts/beach.otf);
  font-display: swap;
}

@font-face {
  font-family: Autumn;
  src: url(../fonts/autumn.ttf);
  font-display: swap;
}

@font-face {
  font-family: Winter;
  src: url(../fonts/akaya.ttf);
  font-display: swap;
}

@font-face {
  font-family: Satisfy;
  src: url(../fonts/Satisfy-Regular.ttf);
}

@font-face {
  font-family: Kalam;
  src: url(../fonts/Kalam-Regular.ttf);
}

@font-face {
  font-family: Akaya;
  src: url(../fonts/AkayaKanadaka-Regular.ttf);
}

html {
  background-image: url(../images/mitchell-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
}

.grid-container {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 1fr;
      grid-template-columns: 400px 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
      grid-template-areas: "header main" "nav main" "footer main";
}

.flex-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  -ms-flex-item-align: center;
      align-self: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.header__headline__title {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.header__headline__subtitle {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.menu {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  color: white;
  font-size: larger;
}

.menu__menuItem a {
  display: block;
  padding: 20px 25px;
}

.menu__menuItem a:hover {
  opacity: 50%;
}

.menu__menuItem--active {
  font-weight: bold;
  background-color: #6367CB;
}

.menu__menuItem--hidden {
  display: none;
}

main {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: main;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  padding: 20px;
}

.box {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 4 / 2;
  background-color: rgba(72, 76, 163, 0.85);
  z-index: -100;
}

/* These must be specified more and changed... */
/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
  opacity: 100%;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
  opacity: 100%;
}

/* selected link */
a:active {
  color: white;
}

.verse1_layout_box {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 2fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 2fr 1fr;
  opacity: 0.8;
  font-size: 1em;
  width: 500px;
  height: 500px;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: #FFFFFF;
  z-index: 1;
  -webkit-animation-name: box_color;
          animation-name: box_color;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.verse1_line1 {
  font-weight: 400;
  margin-top: 60px;
  margin-left: 70px;
  padding-bottom: 30px;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / 6;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 1;
  -webkit-animation-name: line1;
          animation-name: line1;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.verse1_line2 {
  opacity: 0;
  font-weight: 500;
  font-family: fantasy, Georgia, sans-serif;
  position: relative;
  left: 10px;
  margin-left: 50px;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / 6;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 2;
  -webkit-animation-name: line2;
          animation-name: line2;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.verse1_smiley1 {
  opacity: 0;
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 4;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 3;
  -webkit-animation-name: smiley1;
          animation-name: smiley1;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.verse1_smiley2 {
  opacity: 0;
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 5;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 3;
  -webkit-animation-name: smiley2;
          animation-name: smiley2;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.verse1_svg {
  opacity: 0;
  text-decoration: underline;
  font-weight: 500;
  position: relative;
  left: 20px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 8;
      grid-column-end: span 8;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 5;
  -webkit-animation-name: line3;
          animation-name: line3;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.verse1_line4 {
  opacity: 0;
  font-weight: 700;
  position: relative;
  bottom: 10px;
  width: 200px;
  height: 50px;
  padding: 15px 0px 0px 10px;
  background: #000000;
  border-radius: 10px;
  color: #FFFFFF;
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 6;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 6;
  -webkit-animation-name: line4;
          animation-name: line4;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-delay: 14s;
          animation-delay: 14s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.verse1_line4:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 15px 40px;
  border-color: #000000 transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -40px;
  left: 96px;
}

.verse1_span_colour {
  -webkit-animation-name: span_tree;
          animation-name: span_tree;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-delay: 14s;
          animation-delay: 14s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.verse-2__grid-container {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "line1 line1 ." ". line2 line2";
  -webkit-animation: tilt-in-fwd-tl 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: tilt-in-fwd-tl 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.verse-2__grid-container--2 {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr 1fr auto;
      grid-template-columns: auto 1fr 1fr auto;
  -ms-grid-rows: auto 1fr 1fr auto;
      grid-template-rows: auto 1fr 1fr auto;
      grid-template-areas: ". . . ." "leaf1 line3 . ." "leaf1 line4 line4 leaf2" ". . . .";
  -webkit-animation: tilt-in-fwd-tr 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: tilt-in-fwd-tr 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

.verse-2__grid-container--3 {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: "line5 line5 . . ." ". line6 line6 . ." ". . . . ." "line7 line7 line7 line7 line7";
  -webkit-animation: slide-in-elliptic-top-fwd 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-top-fwd 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.verse-2__line-1 {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: line1;
  white-space: nowrap;
}

.verse-2__line-2 {
  margin-top: 0.2em;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: line2;
  -ms-grid-column-align: center;
      justify-self: center;
  white-space: nowrap;
}

.verse-2__line-3 {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: line3;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  white-space: nowrap;
}

.verse-2__line-4 {
  margin-top: 0.5em;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: line4;
  -ms-grid-column-align: end;
      justify-self: end;
  white-space: nowrap;
}

.verse-2__leaf-1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: leaf1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-animation: tilt-in-top-1 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: tilt-in-top-1 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.verse-2__leaf-2 {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: leaf2;
  padding-left: 1rem;
  -webkit-animation: tilt-in-top-1 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: tilt-in-top-1 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.verse-2__line-5 {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: line5;
  white-space: nowrap;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.verse-2__line-6 {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: line6;
  white-space: nowrap;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.verse-2__line-7 {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: line7;
  white-space: nowrap;
  -ms-grid-column-align: center;
      justify-self: center;
}

.verse-2__line-1--1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: #183348;
}

.verse-2__line-1--2 {
  font-family: Summer, Arial, Helvetica, sans-serif;
  font-size: 3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: relative;
  top: 0.2rem;
  color: #5ba547;
}

.verse-2__line-2--1 {
  font-family: Summer, Arial, Helvetica, sans-serif;
  font-size: 3rem;
  color: #183348;
  border: 4px dotted #5ba547;
  border-radius: 60% 5%;
  padding: 0 2rem 0 2rem;
  -webkit-animation: tracking-in-expand 1.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 1.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.verse-2__line-3--1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #8e4d21;
}

.verse-2__line-3--2 {
  font-family: Autumn, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  color: #8e4d21;
}

.verse-2__line-4--1 {
  font-family: Autumn, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  color: #8e4d21;
  -webkit-animation: fade-in-1 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-1 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.verse-2__line-4--2 {
  font-family: Autumn, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  color: #8e4d21;
  -webkit-animation: fade-in-2 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-2 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.verse-2__line-5--1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: #55ced6;
}

.verse-2__line-5--2 {
  font-family: Winter, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #78b2bf;
}

.verse-2__line-6--1 {
  font-family: Winter, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  text-shadow: 3px 3px 4px #b8f0f5;
  border-bottom: 10px solid #b8f0f5;
  padding: 0 1rem 0 1rem;
  color: #78b2bf;
  -webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  -webkit-animation-delay: 8.5s;
          animation-delay: 8.5s;
}

.rainbow-verse5 {
  text-align: center;
  font-size: 20px;
  -webkit-animation: colorRotate 6s linear 0s infinite;
          animation: colorRotate 6s linear 0s infinite;
  margin: 0;
  padding: 1px;
}

.verse-3__grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: ". one one one ." ". . . text-box ." ". two two two ." ". three three . ." ". . text-divide text-divide ." "img-one four four four img-two" ". . . . btn";
  height: 100vh;
  font-size: 2rem;
}

div.verse-3__grid-item-one {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: one;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -webkit-animation: tilt-in 1s ease forwards;
          animation: tilt-in 1s ease forwards;
}

div.verse-3__grid-item-one span.grid-item-one_content {
  font-size: 2.5rem;
  color: #5bbce4;
  white-space: nowrap;
}

div.verse-3__grid-item-one_text {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: text-box;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-animation: tilt-in 1s ease forwards;
          animation: tilt-in 1s ease forwards;
  color: #5bbce4;
  font-family: Satisfy, cursive;
  opacity: 0;
  white-space: nowrap;
}

div.verse-3__grid-item-two {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: two;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-animation: slide-in-br 1s ease 4s forwards;
          animation: slide-in-br 1s ease 4s forwards;
  opacity: 0;
  overflow: hidden;
}

div.verse-3__grid-item-two span.grid-item-two_content {
  color: #8d8d8d;
  white-space: nowrap;
}

div.verse-3__grid-item-two span.grid-item-two_content-text {
  font-family: Satisfy, cursive;
  font-size: 2.5rem;
  white-space: nowrap;
}

div.verse-3__grid-item-three {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: three;
  -ms-grid-column-align: right;
      justify-self: right;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-animation: rotate-fadeIn 0.8s ease 7s forwards;
          animation: rotate-fadeIn 0.8s ease 7s forwards;
  opacity: 0;
}

div.verse-3__grid-item-three span.grid-item-three_content {
  color: #8db600;
  white-space: nowrap;
}

div.verse-3__grid-item_three_text {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: text-divide;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-animation: rotate-fadeIn 0.8s 7s forwards;
          animation: rotate-fadeIn 0.8s 7s forwards;
  opacity: 0;
  white-space: nowrap;
}

div.verse-3__grid-item_three_text span.grid-item-three_text-content {
  font-family: Akaya, cursive;
  font-size: 2.5rem;
  color: #ff453e;
  white-space: nowrap;
}

div.verse-3__grid-item_three_text div.line {
  height: 5px;
  width: 100%;
  background-color: #ff453e;
}

div.verse-3__grid-item-img_1 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: img-one;
  width: 100px;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-animation: slide-in-bottom 1s 10s forwards, shake-vertical 4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 11s infinite;
          animation: slide-in-bottom 1s 10s forwards, shake-vertical 4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 11s infinite;
  opacity: 0;
  overflow: hidden;
}

div.verse-3__grid-item-four {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: four;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-animation: slide-in-bottom 1s 10s forwards;
          animation: slide-in-bottom 1s 10s forwards;
  opacity: 0;
  overflow: hidden;
}

div.verse-3__grid-item-four span.grid-item-four_content {
  white-space: nowrap;
}

div.verse-3__grid-item-four span.grid-item-four_content span.grid-item-four_content-text {
  font-family: Kalam, cursive;
}

div.verse-3__grid-item-img_2 {
  -ms-grid-row: 6;
  -ms-grid-column: 5;
  grid-area: img-two;
  width: 100px;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-animation: slide-in-bottom 1s 10s forwards, shake-vertical 4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 11.3s infinite;
          animation: slide-in-bottom 1s 10s forwards, shake-vertical 4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 11.3s infinite;
  opacity: 0;
  overflow: hidden;
}

div.verse-3__grid-item_button {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
  grid-area: btn;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-animation: fadeIn 0.6s ease 13s forwards;
          animation: fadeIn 0.6s ease 13s forwards;
  opacity: 0;
}

div.verse-3__grid-item_button button {
  padding: 15px 25px;
  border-radius: 20px 20px;
  color: white;
  background-color: #393c7f;
}

div.verse-3__grid-item_button button:hover {
  background-color: #494da2;
  cursor: pointer;
}

.verse-5-first {
  white-space: nowrap;
  padding: 20px;
}

.verse-5-second {
  white-space: nowrap;
  padding: 20px;
}

.verse-5-third {
  white-space: nowrap;
  padding: 20px;
}

.verse-5-fourth {
  white-space: nowrap;
  padding: 20px;
}

.div1-verse5 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: 'Roboto', sans-serif;
}

.text-verse5 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
}

.rainbow-verse5 {
  padding-left: 4px;
}

.love-verse5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 100%;
  margin-bottom: 10%;
}

.info-icon {
  padding-right: 10px;
}

.play-icon {
  padding-left: 10px;
}

.info-button {
  color: white;
}

.info-button:hover {
  opacity: 50%;
}

.start-button {
  padding: 15px 25px;
  border-radius: 20px 20px;
  color: white;
  background-color: #393c7f;
}

.start-button:hover {
  opacity: 50%;
}

.verse-1__continue-button {
  position: fixed;
  bottom: 2%;
  right: 2%;
  padding: 15px 25px;
  border-radius: 20px 20px;
  color: white;
  background-color: #393c7f;
  -webkit-animation: fade-in--button 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in--button 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

.verse-2__continue-button {
  position: fixed;
  bottom: 2%;
  right: 2%;
  padding: 15px 25px;
  border-radius: 20px 20px;
  color: white;
  background-color: #393c7f;
  -webkit-animation: fade-in--button 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in--button 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}

.verse-3__continue-button {
  position: fixed;
  bottom: 2%;
  right: 2%;
  padding: 15px 25px;
  border-radius: 20px 20px;
  color: white;
  background-color: #393c7f;
  -webkit-animation: fade-in--button 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in--button 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

.verse-4__continue-button {
  position: fixed;
  bottom: 2%;
  right: 2%;
  padding: 15px 25px;
  border-radius: 20px 20px;
  color: white;
  background-color: #393c7f;
  -webkit-animation: fade-in--button 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in--button 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

.verse-5__continue-button {
  position: fixed;
  bottom: 2%;
  right: 2%;
  padding: 15px 25px;
  border-radius: 20px 20px;
  color: white;
  background-color: #393c7f;
  -webkit-animation: fade-in--button 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in--button 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation-delay: 16s;
          animation-delay: 16s;
}

@media (max-width: 1100px) {
  .grid-container {
    height: calc(var(--vh, 1vh) * 100);
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto 1.8fr;
        grid-template-rows: auto 1.8fr;
        grid-template-areas: "header" "main";
    overflow: hidden;
  }
  .flex-container {
    height: 100%;
  }
  .header__headline {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .header__headline__title {
    font-size: 1.5rem;
  }
  .header__headline__subtitle {
    font-size: 1rem;
  }
  nav {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: main;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    z-index: 100;
    background-color: rgba(72, 76, 163, 0.95);
    display: none;
  }
  .menu__menuItem--hidden {
    display: none;
  }
  .header__menu-icon {
    display: inline-block;
    position: absolute;
    left: 30px;
    cursor: pointer;
  }
  .header__menu-icon--bar1, .header__menu-icon--bar2, .header__menu-icon--bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .change .header__menu-icon--bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  .change .header__menu-icon--bar2 {
    opacity: 0;
  }
  .change .header__menu-icon--bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  footer {
    display: none;
  }
  .box {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
    background-color: #484ca3;
  }
}

@media (max-width: 900px) {
  .verse-3__grid-container {
    font-size: 1.3rem;
  }
  div.verse-3__grid-item-one span.grid-item-one_content {
    font-size: 1.7rem;
  }
  div.verse-3__grid-item-two span.grid-item-two_content-text {
    font-size: 1.7rem;
  }
  div.verse-3__grid-item_three_text span.grid-item-three_text-content {
    font-size: 1.7rem;
  }
}

/* If screen width is 600px or smaller - Mobile */
@media (max-width: 600px) {
  html {
    background-image: url(../images/mitchell-background-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header__headline__title {
    margin-bottom: 0;
  }
  .header__headline__subtitle {
    display: none;
  }
  .verse1_layout_box {
    width: 80%;
    margin-top: 20px;
  }
  .verse-2__grid-container--3 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: ". line5 line5 . . ." ". . line6 line6 . ." ". . . . . ." ". line7 line7 line7 line7 .";
  }
  .verse-2__line-1--1 {
    font-size: 1.5rem;
  }
  .verse-2__line-1--2 {
    font-size: 2.7rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    top: 0.2rem;
  }
  .verse-2__line-2--1 {
    font-size: 2.7rem;
  }
  .verse-2__line-3--1 {
    font-size: 1.5rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
  .verse-2__line-3--2 {
    font-size: 1.5rem;
  }
  .verse-2__line-4--1 {
    font-size: 1.5rem;
  }
  .verse-2__line-4--2 {
    font-size: 1.5rem;
  }
  .verse-2__line-5--1 {
    font-size: 1.5rem;
  }
  .verse-2__line-5--2 {
    font-size: 2rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
  .verse-2__line-6--1 {
    font-size: 2rem;
  }
  .verse-2__leaf-1--size {
    width: 4rem;
  }
  .verse-2__leaf-2--size {
    width: 3rem;
  }
}

@-webkit-keyframes line1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: #000000;
  }
  75% {
    color: #FFFFFF;
  }
  100% {
    color: #000000;
  }
}

@keyframes line1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: #000000;
  }
  75% {
    color: #FFFFFF;
  }
  100% {
    color: #000000;
  }
}

@-webkit-keyframes line2 {
  /* ----------------------------------------------
 * Generated by Animista on 2021-4-8 11:33:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
  /**
 * ----------------------------------------
 * animation text-focus-in
 * ---------------------------------------
 */
  0% {
    color: #FFFFFF;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 1;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
    color: #000000;
  }
}

@keyframes line2 {
  /* ----------------------------------------------
 * Generated by Animista on 2021-4-8 11:33:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
  /**
 * ----------------------------------------
 * animation text-focus-in
 * ---------------------------------------
 */
  0% {
    color: #FFFFFF;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 1;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
    color: #000000;
  }
}

@keyframes line2 {
  0% {
    color: #FFFFFF;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 1;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
    color: #000000;
  }
}

@-webkit-keyframes box_color {
  0% {
    background: #FFFFFF;
  }
  50% {
    background: #000000;
  }
  100% {
    background: #FFFFFF;
  }
}

@keyframes box_color {
  0% {
    background: #FFFFFF;
  }
  50% {
    background: #000000;
  }
  100% {
    background: #FFFFFF;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-4-8 14:14:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation roll-in-left
 * ----------------------------------------
 */
@-webkit-keyframes smiley1 {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

@keyframes smiley1 {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-4-8 14:19:10
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation roll-in-right
 * ----------------------------------------
 */
@-webkit-keyframes smiley2 {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
    transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

@keyframes smiley2 {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
    transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes line3 {
  /* ----------------------------------------------
 * Generated by Animista on 2021-4-8 14:28:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
  /**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes line3 {
  /* ----------------------------------------------
 * Generated by Animista on 2021-4-8 14:28:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
  /**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes line4 {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
    opacity: 1;
  }
  25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  75% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
    opacity: 1;
  }
}

@keyframes line4 {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
    opacity: 1;
  }
  25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  75% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
    opacity: 1;
  }
}

@-webkit-keyframes span_tree {
  0% {
    color: red;
  }
  14% {
    color: #ff6600;
  }
  28% {
    color: yellow;
  }
  42% {
    color: #74cc74;
  }
  56% {
    color: #00eeff;
  }
  70% {
    color: #a732fa;
  }
  84% {
    color: magenta;
  }
  100% {
    color: #af7171;
  }
}

@keyframes span_tree {
  0% {
    color: red;
  }
  14% {
    color: #ff6600;
  }
  28% {
    color: yellow;
  }
  42% {
    color: #74cc74;
  }
  56% {
    color: #00eeff;
  }
  70% {
    color: #a732fa;
  }
  84% {
    color: magenta;
  }
  100% {
    color: #af7171;
  }
}

@-webkit-keyframes tilt-in-fwd-tl {
  0% {
    -webkit-transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
    transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}

@keyframes tilt-in-fwd-tl {
  0% {
    -webkit-transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
    transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotate(-10deg);
    opacity: 1;
  }
}

@-webkit-keyframes tilt-in-fwd-tr {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
    transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}

@keyframes tilt-in-fwd-tr {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
    transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}

@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}

@-webkit-keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}

@keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-1 {
  0% {
    color: #8e4d21;
  }
  100% {
    color: #f79d26;
  }
}

@keyframes fade-in-1 {
  0% {
    color: #8e4d21;
  }
  100% {
    color: #f79d26;
  }
}

@-webkit-keyframes fade-in-2 {
  0% {
    color: #8e4d21;
  }
  100% {
    color: #db2a26;
  }
}

@keyframes fade-in-2 {
  0% {
    color: #8e4d21;
  }
  100% {
    color: #db2a26;
  }
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in--button {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in--button {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-4-8 15:21:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes tilt-in {
  0% {
    -webkit-transform: rotateY(-35deg) rotateX(20deg) translate(250px, -250px) skew(-12deg, -15deg);
            transform: rotateY(-35deg) rotateX(20deg) translate(250px, -250px) skew(-12deg, -15deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(10deg) translate(0, 0) skew(0deg, 0deg);
            transform: rotate(10deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes tilt-in {
  0% {
    -webkit-transform: rotateY(-35deg) rotateX(20deg) translate(250px, -250px) skew(-12deg, -15deg);
            transform: rotateY(-35deg) rotateX(20deg) translate(250px, -250px) skew(-12deg, -15deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(10deg) translate(0, 0) skew(0deg, 0deg);
            transform: rotate(10deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-4-8 15:34:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
            transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
            transform: translateY(-6.4px);
  }
}
@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
            transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
            transform: translateY(-6.4px);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-4-8 15:43:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes slide-in-br {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px) translateX(1000px);
            transform: translateZ(-1400px) translateY(800px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0) rotate(-15deg);
            transform: translateZ(0) translateY(0) translateX(0) rotate(-15deg);
    opacity: 1;
  }
}
@keyframes slide-in-br {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px) translateX(1000px);
            transform: translateZ(-1400px) translateY(800px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0) rotate(-15deg);
            transform: translateZ(0) translateY(0) translateX(0) rotate(-15deg);
    opacity: 1;
  }
}

@-webkit-keyframes rotate-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
    opacity: 1;
  }
}

@keyframes rotate-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-4-8 16:7:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes verse4_opasity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes verse4_opasity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#verse4_sentence1 {
  font-family: Winter, Arial, Helvetica, sans-serif;
  font-size: 24px;
  -webkit-animation: verse4_opasity 3s;
          animation: verse4_opasity 3s;
}

#verse4_sentence2 {
  font-family: Kalam, Arial, Helvetica, sans-serif;
  font-size: 25px;
  -webkit-animation: verse4_opasity 3s;
          animation: verse4_opasity 3s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#verse4_sentence3 {
  font-family: Autumn, Arial, Helvetica, sans-serif;
  font-size: 50px;
  -webkit-animation: verse4_opasity 3s;
          animation: verse4_opasity 3s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#verse4_sentence3 #verse4_sentence3-line2 {
  font-size: 40px;
}

#verse4_sentence3 #verse4_sentence3-line3 {
  font-size: 20px;
}

#verse4_sentence3 #verse4_sentence3-line4 {
  font-size: 23px;
}

#verse4_sentence3 #verse4_sentence3-line5 {
  font-size: 18px;
}

#verse4_sentence4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  -webkit-animation: verse4_opasity 3s;
          animation: verse4_opasity 3s;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#verse4_sentence4 #verse4_sentence4-right {
  font-size: 22px;
}

@-webkit-keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}

@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}

.slide-in-bck-center {
  -webkit-animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 50%;
  margin-top: 2%;
}

.verse-5-first {
  -webkit-animation: verse-5-first 0.6s cubic-bezier(0.23, 1, 0.32, 1) 3s both;
  animation: verse-5-first 0.6s cubic-bezier(0.23, 1, 0.32, 1) 3s both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 50%;
  margin-top: 8%;
}

@-webkit-keyframes verse-5-first {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes verse-5-first {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.verse-5-second {
  -webkit-animation: fade-in 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) 5s both;
  animation: fade-in 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) 5s both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 50%;
  margin-top: 2%;
}

/* ----------------------------------------------
   * Generated by Animista on 2021-4-8 13:17:58
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
/**
   * ----------------------------------------
   * animation fade-in
   * ----------------------------------------
   */
@-webkit-keyframes verse-5-second {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes verse-5-second {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.verse-5-third {
  -webkit-animation: verse-5-third 0.65s cubic-bezier(0.23, 1, 0.32, 1) 8s both;
  animation: verse-5-third 0.65s cubic-bezier(0.23, 1, 0.32, 1) 8s both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 50%;
  margin-top: 2%;
}

/* ----------------------------------------------
   * Generated by Animista on 2021-4-8 14:31:31
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
/**
   * ----------------------------------------
   * animation roll-in-blurred-left
   * ----------------------------------------
   */
@-webkit-keyframes verse-5-third {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
    transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes verse-5-third {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
    transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.verse-5-fourth {
  -webkit-animation: verse-5-fourth 0.6s cubic-bezier(0.23, 1, 0.32, 1) 11s both;
  animation: verse-5-fourth 0.6s cubic-bezier(0.23, 1, 0.32, 1) 11s both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 50%;
  margin-top: 2%;
}

/* ----------------------------------------------
   * Generated by Animista on 2021-4-8 14:55:52
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
/**
   * ----------------------------------------
   * animation slide-in-blurred-br
   * ----------------------------------------
   */
@-webkit-keyframes verse-5-fourth {
  0% {
    -webkit-transform: translate(1000px, 1000px) skew(80deg, 10deg);
    transform: translate(1000px, 1000px) skew(80deg, 10deg);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0) skew(0deg, 0deg);
    transform: translate(0, 0) skew(0deg, 0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes verse-5-fourth {
  0% {
    -webkit-transform: translate(1000px, 1000px) skew(80deg, 10deg);
    transform: translate(1000px, 1000px) skew(80deg, 10deg);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0) skew(0deg, 0deg);
    transform: translate(0, 0) skew(0deg, 0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.fade-in-love {
  -webkit-animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) 13s both;
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) 13s both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 50%;
}

/* ----------------------------------------------
   * Generated by Animista on 2021-4-8 15:34:29
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
/**
   * ----------------------------------------
   * animation fade-in
   * ----------------------------------------
   */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */