* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

html {
  background-image: url(../images/mitchell-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Helvetica, Arial, sans-serif;
}

.grid-container {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 1fr;
      grid-template-columns: 400px 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
      grid-template-areas: "header main" "nav main" "footer main";
}

.flex-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  -ms-flex-item-align: center;
      align-self: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.header__headline__title {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.header__headline__subtitle {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.menu {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  color: white;
  font-size: larger;
}

.menu__menuItem a {
  display: block;
  padding: 20px 25px;
}

.menu__menuItem a:hover {
  opacity: 50%;
}

.menu__menuItem--active {
  font-weight: bold;
  background-color: #6367CB;
}

.menu__menuItem--hidden {
  display: none;
}

main {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: main;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  padding: 20px;
}

.box {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 4 / 2;
  background-color: rgba(72, 76, 163, 0.85);
  z-index: -100;
}

/* These must be specified more and changed... */
/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
  opacity: 100%;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
  opacity: 100%;
}

/* selected link */
a:active {
  color: white;
}

.info-icon {
  padding-right: 10px;
}

.play-icon {
  padding-left: 10px;
}

.info-button {
  color: white;
}

.info-button:hover {
  opacity: 50%;
}

.start-button {
  padding: 15px 25px;
  border-radius: 20px 20px;
  color: white;
  background-color: #393c7f;
}

.start-button:hover {
  opacity: 50%;
}

/* If screen width is 600px or smaller - Mobile */
@media (max-width: 600px) {
  html {
    background-image: url(../images/mitchell-background-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-container {
    height: calc(var(--vh, 1vh) * 100);
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto 1.8fr;
        grid-template-rows: auto 1.8fr;
        grid-template-areas: "header" "main";
    overflow: hidden;
  }
  .flex-container {
    height: 100%;
  }
  .header__headline {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .header__headline__title {
    font-size: 1.5rem;
  }
  .header__headline__subtitle {
    font-size: 1rem;
  }
  nav {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: main;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    z-index: 100;
    background-color: black;
    display: none;
  }
  .menu__menuItem--hidden {
    display: none;
  }
  .header__menu-icon {
    display: inline-block;
    position: absolute;
    left: 30px;
    cursor: pointer;
  }
  .header__menu-icon--bar1, .header__menu-icon--bar2, .header__menu-icon--bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .change .header__menu-icon--bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  .change .header__menu-icon--bar2 {
    opacity: 0;
  }
  .change .header__menu-icon--bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  footer {
    display: none;
  }
  .box {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
  }
}
/*# sourceMappingURL=main.css.map */